@model Gym_Management_System.Models.MembershipTB

@{
    ViewBag.Title = "Details";
}
<link href="~/CSS/DeleteStyle.css" rel="stylesheet" />
<h2>Details</h2>

<div>
    <h4>MembershipTB</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MembershipPlan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MembershipPlan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Days)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Days)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
