@model Gym_Management_System.Models.TransactionTB
@{
    ViewBag.Title = "Transaction";
}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active" style="margin-left:20px">
                <span class="navbar-brand">Transaction</span>
            </li>
        </ul>
    </div>
    <div class="dropdown" data-bs-theme="light" style="margin-right:65px;">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButtonLight" data-bs-toggle="dropdown" aria-expanded="false">
            SHOW FILTER
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonLight">
            <li><a class="dropdown-item" href="@Url.Action("Transaction", new { payment = "Cash" })">Cash</a></li>
            <li><a class="dropdown-item" href="@Url.Action("Transaction", new { payment = "UPI" })">UPI</a></li>
            <li><a class="dropdown-item" href="@Url.Action("Transaction", new { payment = "Google Pay" })">Google Pay</a></li>
            <li><a class="dropdown-item" href="@Url.Action("Transaction", new { payment = "Phone Pay" })">Phone Pay</a></li>
        </ul>
    </div>
</nav>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Name</th>
            <th scope="col">Membership</th>
            <th scope="col">Offer Price</th>
            <th scope="col">Paid Amount</th>
            <th scope="col">Transaction Date</th>
            <th scope="col">Payment Mode</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Transactions)
        {
        <tr>
            <th scope="row"><img src="~/Icon/profile.jpg" width="30px" height="30px" />&nbsp;&nbsp;@item.MemberTB.Name</th>
            <td>@item.Membership</td>
            <td>@item.OfferPrice</td>
            <td>@item.PaidAmount</td>
            <td>
                @{
                    @item.PaymentDate.ToString("dd-MM-yyyy");
                 }
            </td>
            <td>@item.PaymentMode</td>
        </tr>
         }
    </tbody>
</table>